<!DOCTYPE html>
<html>
<head>
  <title>Contact Us - My Node.js App</title>
</head>
<body>
  <h1>Contact Us</h1>
  <p>Get in touch with us for any inquiries.</p>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About Us</a></li>
    <li><a href="/services">Our Services</a></li>
  </ul>
</body>
</html>