<!DOCTYPE html>
<html>
<head>
  <title>Our Services - My Node.js App</title>
</head>
<body>
  <h1>Our Services</h1>
  <p>Discover the services we offer.</p>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About Us</a></li>
    <li><a href="/contact">Contact Us</a></li>
  </ul>
</body>
</html>